{% extends "core/base.html" %}
{% load static %}
{% block content %}
    {% include "partials/nav.html" %}
      <!--All-Product-->
    <div class="mt-[1rem]">
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto shadow bg-white  rounded">
            <div class="flex justify-between items-center px-[1rem] py-[0.8rem] bg-slate-700 w-[100%] relative">
                <div class="">
                    <h3 class="text-[#fefefe] text-[15px] count-text font-semibold">Discover our Top Daily Deal <span class="text-orange-200">( {{products.count}} products found )</span> </h3>
                </div>
                <div class="text-[#fefefe] text-[14px] flex gap-[0.3rem] items-center">
                   <div id="sortBtn" class="bg-slate-600 text-slate-50 rounded-full p-[0.5rem] text-nowrap cursor-pointer">
                        Sort by: Popularity
                        <i class="fa fa-solid fa-chevron-down"></i>
                   </div>
                   <div id="sortItem" class="hidden absolute right-0 top-0 mt-[4rem] bg-slate-100 shadow rounded w-[180px] md:p-[0.5rem] p-0 md:w-[230px] z-[100]">
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="popularity">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="popularity">Popularity</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="newest">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="newest">Newest Arrivals</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="low-high">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="low-high">Price: Low to high</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="high-low">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="high-low">Price: High to Low</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="rating">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="rating">Product Rating</label>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[0.5rem]">
            <div class="my-[1rem] w-[100%] shadow bg-white">
                <div class="product-grid gap-[0.5rem] items-center">
                    {% for product in products %}
                            <div class="hover:shadow rounded cursor-pointer ">
                                <div class="relative">
                                    <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-600 text-[#ffffff]">Pay On Delivery</p>
                                    <div class=" w-[150px] m-auto  rounded-t ">
                                        {% if product.image %}
                                            <img src="{{product.image.url}}" alt="" class="w-[100%] object-center object-cover">
                                        {% endif %}
                                    </div>
                                    <div class="absolute bottom-0 right-[3px]">
                                        <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                    </div>
                                </div>
                                <div class="content p-[0.5rem]">
                                    <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}}</p>
                                    <p class="font-bold text-[16px] text-gray-500 ">GHS {{product.price}}</p>
                                    <span class=" text-[10px] text-slate-600 line-through">GHS {{product.canceled_price}}</span>
                                    <div class="flex gap-[0.2rem] items-center">
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-regular fa-star text-[10px] text-orange-500"></i>
                                    </div>
                                    <div class="mt-[0.5rem] flex items-center gap-[0.5rem]">
                                        <button class="no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap block w-[100%] py-[0.6rem] rounded-full"><a href="{% url "product-detail" product_id=product.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i> 
                                             Detail
                                        </a></button>
                                        <button class="no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap block w-[100%] py-[0.6rem] rounded-full"><a aria-label="edit product" href="{% url "edit-product" product_id=product.id %}">
                                            <i class="fa-solid fa-eye"></i> 
                                             Edit
                                        </a></button>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const sortBtn = document.getElementById('sortBtn');
        const sortItem = document.getElementById('sortItem');
        sortBtn.addEventListener('click', () => {
            //console.log('sorted clicked')
            sortItem.classList.toggle('sorted-active')
        })
    </script>
{% endblock content %}