{% extends "core/base.html" %}
{% load static %}
{% block content %}
    {% include "partials/nav.html" %}
      <!--All-Product-->
    <div class="mt-[1rem] manage-product-container">
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto shadow bg-white  rounded">
            <div class="flex justify-between items-center px-[1rem] py-[0.8rem] bg-slate-700 w-[100%] relative">
                <div class="">
                    <h3 class="text-[#fefefe] text-[15px] count-text font-semibold">Discover our Top Daily Deal <span class="text-orange-200">( {{products.count}} products found )</span> </h3>
                </div>
                {% comment %} <div class="text-[#fefefe] text-[14px] flex gap-[0.3rem] items-center">
                   <div id="sortBtn" class="bg-slate-600 text-slate-50 rounded-full p-[0.5rem] text-nowrap cursor-pointer">
                        Sort by: Popularity
                        <i class="fa fa-solid fa-chevron-down"></i>
                   </div>
                   <div id="sortItem" class="hidden absolute right-0 top-0 mt-[4rem] bg-slate-100 shadow rounded w-[180px] md:p-[0.5rem] p-0 md:w-[230px] z-[100]">
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="popularity">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="popularity">Popularity</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="newest">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="newest">Newest Arrivals</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="low-high">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="low-high">Price: Low to high</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="high-low">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="high-low">Price: High to Low</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="rating">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="rating">Product Rating</label>
                        </div>
                   </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[0.5rem] manage-pro-css">
            <div class="my-[1rem] w-[100%] shadow bg-white">
                <div class="product-grid gap-[0.5rem] items-center">
                    {% for product in products %}
                            <div class="hover:shadow rounded cursor-pointer ">
                                <div class="relative">
                                    <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-600 text-[#ffffff]">Pay On Delivery</p>
                                    <div class=" w-[150px] m-auto  rounded-t ">
                                        {% if product.image %}
                                            <img src="{{product.image.url}}" alt="" class="w-[100%] object-center object-cover">
                                        {% endif %}
                                    </div>
                                    <div class="absolute bottom-0 right-[3px]">
                                        <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                    </div>
                                </div>
                                <div class="content p-[0.5rem]">
                                    <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}}</p>
                                    <p class="font-bold text-[16px] text-gray-500 ">GHS {{product.price}}</p>
                                    <span class=" text-[10px] text-slate-600 line-through">GHS {{product.canceled_price}}</span>
                                    <div class="flex gap-[0.2rem] items-center">
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-regular fa-star text-[10px] text-orange-500"></i>
                                    </div>
                                    <div class="mt-[0.5rem] flex items-center gap-[0.5rem]">
                                        <a href="{% url "product-detail" product_id=product.id %}" class="flex items-center justify-center gap-[0.2rem] no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap w-[100%] py-[0.6rem] rounded-[8px]">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15.47 7.83C14.882 6.30882 13.861 4.99331 12.5334 4.04604C11.2058 3.09878 9.62977 2.56129 8.00003 2.5C6.37029 2.56129 4.79423 3.09878 3.46663 4.04604C2.13904 4.99331 1.11811 6.30882 0.530031 7.83C0.490315 7.93985 0.490315 8.06015 0.530031 8.17C1.11811 9.69118 2.13904 11.0067 3.46663 11.954C4.79423 12.9012 6.37029 13.4387 8.00003 13.5C9.62977 13.4387 11.2058 12.9012 12.5334 11.954C13.861 11.0067 14.882 9.69118 15.47 8.17C15.5097 8.06015 15.5097 7.93985 15.47 7.83ZM8.00003 12.5C5.35003 12.5 2.55003 10.535 1.53503 8C2.55003 5.465 5.35003 3.5 8.00003 3.5C10.65 3.5 13.45 5.465 14.465 8C13.45 10.535 10.65 12.5 8.00003 12.5Z" fill="currentColor"/>
                                                <path d="M8 5C7.40666 5 6.82664 5.17595 6.33329 5.50559C5.83994 5.83524 5.45543 6.30377 5.22836 6.85195C5.0013 7.40013 4.94189 8.00333 5.05765 8.58527C5.1734 9.16721 5.45912 9.70176 5.87868 10.1213C6.29824 10.5409 6.83279 10.8266 7.41473 10.9424C7.99667 11.0581 8.59987 10.9987 9.14805 10.7716C9.69623 10.5446 10.1648 10.1601 10.4944 9.66671C10.8241 9.17336 11 8.59334 11 8C11 7.20435 10.6839 6.44129 10.1213 5.87868C9.55871 5.31607 8.79565 5 8 5ZM8 10C7.60444 10 7.21776 9.8827 6.88886 9.66294C6.55996 9.44318 6.30362 9.13082 6.15224 8.76537C6.00087 8.39991 5.96126 7.99778 6.03843 7.60982C6.1156 7.22186 6.30608 6.86549 6.58579 6.58579C6.86549 6.30608 7.22186 6.1156 7.60982 6.03843C7.99778 5.96126 8.39992 6.00087 8.76537 6.15224C9.13082 6.30362 9.44318 6.55996 9.66294 6.88886C9.8827 7.21776 10 7.60444 10 8C10 8.53043 9.78929 9.03914 9.41421 9.41421C9.03914 9.78929 8.53043 10 8 10Z" fill="currentColor"/>
                                            </svg> 
                                            Detail
                                        </a>
                                        <a aria-label="edit product" href="{% url "edit-product" product_id=product.id %}" class="flex items-center justify-center gap-[0.2rem] no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap w-[100%] py-[0.6rem] rounded-[8px]">
                                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.09 14.441V18.881C19.0898 19.5092 18.8401 20.1116 18.3959 20.5558C17.9516 21.0001 17.3492 21.2497 16.721 21.25H5.12002C4.80777 21.2499 4.49863 21.188 4.21035 21.0681C3.92208 20.9481 3.66035 20.7723 3.44021 20.5509C3.22007 20.3295 3.04586 20.0667 2.92758 19.7777C2.80931 19.4887 2.74931 19.1792 2.75102 18.867V7.27899C2.74916 6.96724 2.80919 6.65822 2.92764 6.36984C3.04608 6.08146 3.22059 5.81945 3.44103 5.59901C3.66148 5.37856 3.92348 5.20406 4.21186 5.08561C4.50025 4.96717 4.80927 4.90713 5.12102 4.90899H9.56002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M19.09 8.995L15.005 4.909M6.83496 15.803V13.638C6.83696 13.281 6.97896 12.938 7.22996 12.685L16.762 3.153C16.8884 3.0251 17.039 2.92357 17.205 2.85427C17.371 2.78498 17.5491 2.7493 17.729 2.7493C17.9088 2.7493 18.0869 2.78498 18.2529 2.85427C18.4189 2.92357 18.5695 3.0251 18.696 3.153L20.847 5.304C20.9749 5.43048 21.0764 5.58107 21.1457 5.74706C21.215 5.91304 21.2507 6.09113 21.2507 6.271C21.2507 6.45087 21.215 6.62895 21.1457 6.79494C21.0764 6.96093 20.9749 7.11152 20.847 7.238L11.315 16.77C11.0615 17.0217 10.7192 17.1636 10.362 17.165H8.19696C8.01803 17.1653 7.8408 17.1302 7.67544 17.0619C7.51007 16.9935 7.35982 16.8932 7.2333 16.7667C7.10677 16.6401 7.00646 16.4899 6.9381 16.3245C6.86975 16.1592 6.8347 15.9819 6.83496 15.803Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        const sortBtn = document.getElementById('sortBtn');
        const sortItem = document.getElementById('sortItem');
        sortBtn.addEventListener('click', () => {
            //console.log('sorted clicked')
            sortItem.classList.toggle('sorted-active')
        })
    </script>
{% endblock content %}