{% extends "core/base.html" %}
{% load static %}
{% block content %}
    {% include "partials/nav.html" %}
    
    <div class="w-[100%] md:w-[60%] px-[0.5rem] md:px-0 m-auto">
        <div class="md:flex w-[100%]">
            <div class="shadow-sm flex items-center flex-col border border-slate-200 bg-white p-[1rem] rounded">
                <div class="flex items-center flex-col">
                    <h2 class="text-[18px] font-bold text-slate-600">Available product ()</h2>
                    <p class="text-slate-500 text-[15px]">List product to start selling on Es-Shoppy</p>
                </div>
                <div class="mt-[2rem]">
                    <button class="text-center border rounded border-slate-200 uppercase text-slate-500 bg-amber-50 py-[0.5rem] px-[1.5rem] text-[15px]">
                        <a href="{% url "add-product" %}" class="">
                            create products
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}