{% extends "core/base.html" %}
{% load static %}
{% load humanize %} 
{% block title %}Home{% endblock title %}
{% block content %}
{% include "core/partials/nav.html" %}
<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .swiper {
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .swiper-slide {
       width:150px;
       height:auto;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color:rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.34);
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.2rem;
    }
</style>
  
    <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
        <div class="w-[100%] h-[180px] shadow bg-white">
            <img src="{% static "assets/banner-bg.jpg" %}" alt="banner" class="w-[100%] h-[180px] object-center object-cover">
        </div>
    </div>
    <!--All-Product-->
    <div class="mt-[1rem]">
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto ">
            <div class="flex justify-between px-[1rem] py-[0.8rem] bg-slate-700 w-[100%]">
                <h3 class="text-[#fefefe] text-[15px] font-semibold">Popular </h3>
                <a href="{% url "all-product" %}" class="text-slate-50 bg-slate-600 px-[0.3rem] rounded-[15px] text-[11px] md:text-[14px] flex gap-[0.3rem] items-center">
                    See All
                    <i class="fa fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto "style="overflow: hidden;">
            <div class="swiper mySwiper bg-white">
                <div class="my-[1rem]  swiper-wrapper">
                        {% for product in products %}
                        <div class="swiper-slide hover:shadow">
                            <a href="{% url "product-detail" product_id=product.id %}" class="hover:shadow bg-white rounded cursor-pointer mx-2 w-[150px]" style="min-width: 150px;">
                                <div class="relative">
                                    <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-500 text-[#ffffff]">Pay On Delivery</p>
                                    <div class="w-[150px]  m-auto bg-slate-50  rounded-t">
                                        {% if product.image %}
                                            <img src="{{product.image.url}}" alt="" class="w-[100%] object-center object-cover">
                                        {% endif %}
                                    </div>
                                    <div class="absolute bottom-0 right-[0.5rem]">
                                        <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                    </div>                                                                                                                              
                                </div>
                                <div class="content p-[0.5rem]">
                                    <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}} </p>
                                    <p class="font-bold text-[16px] text-gray-500 ">GHS {{product.price|intcomma}} </p>
                                    {% if product.canceled_price %}
                                        <p class=" text-[10px] text-slate-400 line-through">GHS {{product.canceled_price|intcomma}}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                </div>
                <!-- Add navigation arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
        <div class="shadow bg-white p-[0.5rem] mt-[1rem]" style="overflow:hidden;">
            <div class="flex gap-[0.8rem]">
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src="{% static "assets/Es-shoppy_Global.png" %}"
                        alt="" class="w-[100%] h-[100%] object-center object-contain">
                </p>
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src=" {% static "assets/Es-shoppy_Global2.png" %}" alt="" class=" w-[100%] h-[100%] m-auto object-center object-contain">
                </p>
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src="{% static "assets/Es-shoppy_Global3.png" %}" alt="" class="w-[100%] h-[100%] m-auto object-center object-contain">
                </p>
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src="{% static "assets/Es-shoppy_Global4.png" %}" alt="" class=" w-[100%] h-[100%] m-auto object-center object-contain">
                </p>
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src="{% static "assets/Es-shoppy_Global5.png" %}" alt="" class="w-[100%] h-[100%] m-auto object-center object-contain">
                </p>
                <p class="no-ubderline text-slate-400 w-[180px]">
                    <img src="{% static "assets/Es-shoppy_Global6.png" %}" alt="" class="w-[100%] h-[100%] m-auto object-center object-contain">
                </p>
            </div>
        </div>
    </div>

    <!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.mySwiper', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: false,
        grabCursor: true,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            640: {
                spaceBetween: 8,
            },
            1024: {
                spaceBetween: 8,
            },
        },
    });
</script>

{% endblock  %}