{% extends "core/base.html" %}
{% load static %}
{% block title %}{% endblock  %}
{% block content %}
{% include "core/partials/nav.html" %}
<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .swiper {
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .swiper-slide {
       width:150px;
       height:100px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color:rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.34);
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.2rem;
    }
</style>
    <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
        <div class="shadow bg-white p-[0.5rem] rounded-[5px] swiper mySwiper">
            <div class=" swiper-wrapper">
                {% for category in categories %}
                    <div class="hover:shadow-md swiper-slide">
                        <a href="#!" class="no-ubderline text-slate-400">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="bg-slate-100 w-[100%] h-[70px] object-center object-contain">
                            {% endif %}
                            <div class="">
                                <p class="font-medium text-[12px] text-center py-[0.5rem] text-slate-500">{{ category.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
             <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!--All-Product-->
    <div class="mt-[1rem]">
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto shadow bg-white  rounded">
            <div class="flex justify-between items-center px-[1rem] py-[0.8rem] bg-[#D98324] w-[100%] relative">
                <div class="">
                    <h3 class="text-[#fefefe] text-[15px] count-text font-semibold">Discover our Top Daily Deal <span class="text-[#914F1E]">( {{products.count}} products found )</span> </h3>
                </div>
                <div class="text-[#fefefe] text-[14px] flex gap-[0.3rem] items-center">
                   <div id="sortBtn" class="bg-orange-50 text-slate-700 rounded p-[0.5rem] text-nowrap cursor-pointer">
                        Sort by: Popularity
                        <i class="fa fa-solid fa-chevron-down"></i>
                   </div>
                   <div id="sortItem" class="hidden absolute right-0 top-0 mt-[4rem] bg-orange-50 shadow rounded w-[180px] md:p-[0.5rem] p-0 md:w-[230px] z-[100]">
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="popularity">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="popularity">Popularity</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="newest">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="newest">Newest Arrivals</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="low-high">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="low-high">Price: Low to high</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="high-low">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="high-low">Price: High to Low</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="rating">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="rating">Product Rating</label>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[0.5rem] ">
            <div class="my-[1rem] w-[100%] shadow bg-white">
                <div class="product-grid gap-[0.5rem] items-center p-[0.5rem]">
                    {% for product in products %}
                        <div class="hover:shadow bg-white rounded cursor-pointer ">
                            <div class="relative">
                                <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-500 text-[#ffffff]">Pay On Delivery</p>
                                <div class="w-[150px]  m-auto  rounded-t ">
                                    {% if product.image %}
                                        <img src="{{product.image.url}}" alt="" class="w-[100%] h-[220px] object-center object-contain">
                                    {% endif %}
                                </div>
                                <div class="absolute bottom-0 right-[3px]">
                                    <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                </div>
                            </div>
                            <div class="content p-[0.5rem]">
                                <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}}</p>
                                <p class="font-bold text-[16px] text-gray-600 ">GHS {{product.price}}</p>
                                <span class=" text-[10px] text-slate-400 line-through">GHS {{product.canceled_price}}</span>
                                <div class="flex gap-[0.2rem] items-center">
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-regular fa-star text-[10px] text-orange-500"></i>
                                </div>
                                <div class="mt-[0.5rem]">
                                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="inline">
                                        {% csrf_token %}
                                        <button class="no-underline bg-orange-400 text-[14px] text-[#ffffff] block w-[100%] py-[0.4rem] rounded">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const sortBtn = document.getElementById('sortBtn');
    const sortItem = document.getElementById('sortItem');
    sortBtn.addEventListener('click', () => {
        //console.log('sorted clicked')
        sortItem.classList.toggle('sorted-active')
    })

    const swiper = new Swiper('.mySwiper', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: false,
        grabCursor: true,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            640: {
                spaceBetween: 8,
            },
            1024: {
                spaceBetween: 8,
            },
        },
    });
</script>
{% endblock content %}