{% extends "core/base.html" %}
{% load static %}
{% load humanize %} 
{% block title %}{% endblock  %}
{% block content %}
{% include "core/partials/nav.html" %}

<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .swiper {
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .swiper-slide {
       width:150px;
       height:100px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color:rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.34);
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.2rem;
    }
    .messaage-wrapper{
        z-index: 99999;
    }
</style>
<div id="messages" class="w-[100%] m-auto  md:w-[80%] lg:w-[60%] messaage-wrapper">
    {% if messages %}
        <ul class="list-none m-0 ">
            {% for message in messages %}
                <li class="bg-green-500 text-white p-2 rounded mb-2 flex items-center justify-between">
                    {{ message }}
                    <i class="fa fa-solid fa-close text-[18px] text-white close-message cursor-pointer ml-2"></i>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
    <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
        <div class="shadow bg-white p-[0.5rem] rounded-[5px] swiper mySwiper">
            <div class=" swiper-wrapper">
                {% for category in categories %}
                    <div class="hover:shadow-md swiper-slide {% if current_category_id == category.id %}border-2 rounded border-orange-300{% endif %}">
                        <a href="{% url 'all-product' category.id %}" class="no-ubderline text-slate-400">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="bg-slate-100 w-[100%] h-[70px] object-center object-contain">
                            {% endif %}
                            <div class="">
                                <p class="font-medium text-[12px] text-center py-[0.5rem] text-slate-500">
                                    {{ category.name }}
                                    {% if current_category_id == category.id %}
                                        <span class="block w-[20px] h-[2px] bg-orange-400 mx-auto mt-1"></span>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
             <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!--All-Product-->
    <div class="mt-[1rem]">
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto shadow bg-white  rounded">
            <div class="flex justify-between items-center px-[1rem] py-[0.8rem] bg-[#D98324] w-[100%] relative">
                <div class="flex gap-[0.5rem] items-center">
                    <div class="bg-orange-50 rounded shadow">
                        <a href="{% url "all-product" %}" class="px-[0.3rem] text-orange-800 text-[14px] font-bold flex gap-[0.3rem] items-center">
                            <i class="fa fa-solid fa-chevron-left"></i>
                            All
                        </a>
                    </div>
                    <div class="">
                        <h3 class="text-[#fefefe] text-[15px] count-text font-semibold">
                            {% if current_category %}
                                {{ current_category.name }} Products
                            {% else %}
                                Discover our Top Daily Deal
                            {% endif %}
                            <span class="text-orange-200">( {{ products.paginator.count }} products found )</span>
                        </h3>
                    </div>
                </div>
                <div class="text-[#fefefe] text-[14px] flex gap-[0.3rem] items-center">
                   <div id="sortBtn" class="bg-orange-50 text-slate-700 rounded p-[0.5rem] text-nowrap cursor-pointer">
                        Sort by: Popularity
                        <i class="fa fa-solid fa-chevron-down"></i>
                   </div>
                   <div id="sortItem" class="hidden absolute right-0 top-0 mt-[4rem] bg-orange-50 shadow rounded w-[180px] md:p-[0.5rem] p-0 md:w-[230px] z-[100]">
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="popularity">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="popularity">Popularity</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="newest">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="newest">Newest Arrivals</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="low-high">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="low-high">Price: Low to high</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="high-low">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="high-low">Price: High to Low</label>
                        </div>
                        <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                            <input type="radio" name="sort" id="rating">
                            <label class="text-slate-700 text-[15px] cursor-pointer" for="rating">Product Rating</label>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[0.5rem] ">
            <div class="my-[1rem] w-[100%] shadow bg-white">
                <div class="product-grid gap-[0.5rem] items-center p-[0.5rem]">
                    {% for product in products %}
                        <div class="hover:shadow bg-white rounded cursor-pointer ">
                            <div class="relative">
                                <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-500 text-[#ffffff]">Pay On Delivery</p>
                                <div class="w-[150px]  m-auto  rounded-t ">
                                    {% if product.image %}
                                        <img src="{{product.image.url}}" alt="" class="w-[100%] h-[220px] object-center object-contain">
                                    {% endif %}
                                </div>
                                <div class="absolute bottom-0 right-[3px]">
                                    <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                </div>
                            </div>
                            <div class="content p-[0.5rem]">
                                <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}}</p>
                                <p class="font-bold text-[16px] text-gray-600 ">GHS {{product.price|intcomma}}</p>
                                <span class=" text-[10px] text-slate-400 line-through">GHS {{product.canceled_price|intcomma}}</span>
                                <div class="flex gap-[0.2rem] items-center">
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                    <i class="fa fa-regular fa-star text-[10px] text-orange-500"></i>
                                </div>
                                <div class="mt-[0.5rem] flex items-center gap-[0.5rem] w-[100%]">
                                    <button class="no-underline bg-orange-400 text-[12px] text-[#ffffff] text-nowrap block w-[100%] py-[0.4rem] rounded">
                                        <a href="{% url "product-detail" product_id=product.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i> 
                                            Detail
                                        </a>
                                    </button>
                                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="add-to-cart-form inline w-[100%]">
                                        {% csrf_token %}
                                        <button class="no-underline bg-orange-400 text-[14px] text-[#ffffff] block w-[100%] py-[0.4rem] rounded">
                                            <i class="fa-solid fa-cart-plus"></i>
                                            Cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex justify-center py-[4rem]">
        <nav class="flex justify-center" aria-label="Pagination">
            <ul class="flex items-center gap-1 md:gap-2">
                <!-- Previous Button -->
                {% if products.has_previous %}
                    <li>
                        <a href="?page={{ products.previous_page_number }}" 
                           class="flex items-center px-3 py-2 md:px-4 md:py-2 border border-slate-200 text-gray-500 hover:bg-gray-100 rounded-lg transition-all duration-300"
                           aria-label="Previous">
                           <span class="text-[15px]"><i class="fa fa-solid fa-chevron-left text-slate-600"></i></span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <span class="flex items-center px-3 py-2 md:px-4 md:py-2 border border-slate-200 text-gray-500 rounded-lg transition-all duration-300 disabled:opacity-50 disabled:pointer-events-none"
                              aria-label="Previous">
                              <span class="text-[15px]"><i class="fa fa-solid fa-chevron-left text-slate-200"></i></span>
                        </span>
                    </li>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <li>
                            <span class="px-3 py-2 md:px-4 md:py-2 bg-blue-500 border border-slate-200 text-white rounded-lg transition-all duration-300">{{ num }}</span>
                        </li>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                        <li>
                            <a href="?page={{ num }}"
                               class="px-3 py-2 md:px-4 md:py-2 text-gray-600 hover:bg-gray-100 border border-slate-200 rounded-lg transition-all duration-300">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Next Button -->
                {% if products.has_next %}
                    <li>
                        <a href="?page={{ products.next_page_number }}"
                           class="flex items-center px-3 py-2 md:px-4 md:py-2 border border-slate-200 text-gray-600 hover:bg-gray-100 rounded-lg transition-all duration-300"
                           aria-label="Next">
                            <span class="text-[15px]"><i class="fa fa-solid fa-chevron-right text-slate-500"></i></span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <span class="flex items-center px-3 py-2 md:px-4 md:py-2 text-gray-500 rounded-lg border border-slate-200 transition-all duration-300 disabled:opacity-50 disabled:pointer-events-none"
                              aria-label="Next">
                              <span class="text-[15px]"><i class="fa fa-solid fa-chevron-right text-slate-200"></i></span>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const sortBtn = document.getElementById('sortBtn');
    const sortItem = document.getElementById('sortItem');
    sortBtn.addEventListener('click', () => {
        //console.log('sorted clicked')
        sortItem.classList.toggle('sorted-active')
    })

    const swiper = new Swiper('.mySwiper', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: false,
        grabCursor: true,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            640: {
                spaceBetween: 8,
            },
            1024: {
                spaceBetween: 8,
            },
        },
    });
 // Close message
 document.addEventListener('click', function(event) {
    if (event.target.classList.contains('close-message')) {
        event.target.parentElement.remove();
        // Clear messages from session storage
        sessionStorage.removeItem('messages');
    }
});
    
</script>
    
{% endblock content %}
