{% extends "core/base.html" %}
{% load static %}
{% load humanize %} 
{% block title %}{% endblock  %}
{% block content %}
{% include "core/partials/nav.html" %}

<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .swiper {
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .swiper-slide {
       width:150px;
       height:100px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color:rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.34);
        padding: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.2rem;
    }
    .messaage-wrapper{
        z-index: 99999;
    }
</style>
    <section class="cart-mobile">
        <div id="messages" class="w-[100%] m-auto  md:w-[80%] lg:w-[60%] messaage-wrapper">
            {% if messages %}
                <ul class="list-none m-0 ">
                    {% for message in messages %}
                        <li class="bg-green-500 text-white p-2 rounded mb-2 flex items-center justify-between">
                            {{ message }}
                            <i class="fa fa-solid fa-close text-[18px] text-white close-message cursor-pointer ml-2"></i>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
            <div class="shadow bg-white p-[0.5rem] rounded-[5px] swiper mySwiper">
                <div class=" swiper-wrapper">
                    {% for category in categories %}
                        <div class="hover:shadow-md swiper-slide {% if current_category_id == category.id %}border-2 rounded border-orange-300{% endif %}">
                            <a href="{% url 'all-product' category.id %}" class="no-ubderline text-slate-400">
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="{{ category.name }}" class="bg-slate-100 w-[100%] h-[70px] object-center object-contain">
                                {% endif %}
                                <div class="">
                                    <p class="font-medium text-[12px] text-center py-[0.5rem] text-slate-500">
                                        {{ category.name }}
                                        {% if current_category_id == category.id %}
                                            <span class="block w-[20px] h-[2px] bg-orange-400 mx-auto mt-1"></span>
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                    <!-- Navigation buttons -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!--All-Product-->
        <div class="mt-[1rem]">
            <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto shadow bg-white  rounded">
                <div class="flex justify-between items-center px-[1rem] py-[0.8rem] bg-slate-700 w-[100%] relative">
                    <div class="flex gap-[0.5rem] items-center">
                        {% if current_category %}
                        <div class="bg-orange-50 rounded shadow">
                            <a href="{% url "all-product" %}" class="px-[0.3rem] text-orange-800 text-[14px] font-bold flex gap-[0.3rem] items-center">
                                <i class="fa fa-solid fa-chevron-left"></i>
                                All
                            </a>
                        </div>
                        {% else %}
                        {% endif %}
                        <div class="">
                            <h3 class="text-[#fefefe] text-[15px] count-text font-semibold">
                                {% if current_category %}
                                    {{ current_category.name }} Products
                                {% else %}
                                    Discover our Top Daily Deal
                                {% endif %}
                                <span class="text-orange-200">( {{ products.paginator.count }} products found )</span>
                            </h3>
                        </div>
                    </div>
                    {% comment %} <div class="text-slate-50 text-[14px] flex gap-[0.3rem] items-center">
                        <div id="sortBtn" class="bg-slate-600 text-slate-50 rounded-full p-[0.5rem] text-nowrap cursor-pointer">
                            Sort by: Popularity
                            <i class="fa fa-solid fa-chevron-down"></i>
                        </div>
                        <div id="sortItem" class="hidden absolute right-0 top-0 mt-[4rem] bg-slate-100 shadow rounded w-[180px] md:p-[0.5rem] p-0 md:w-[230px] z-[100]">
                            <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                                <input type="radio" name="sort" id="popularity">
                                <label class="text-slate-700 text-[15px] cursor-pointer" for="popularity">Popularity</label>
                            </div>
                            <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                                <input type="radio" name="sort" id="newest">
                                <label class="text-slate-700 text-[15px] cursor-pointer" for="newest">Newest Arrivals</label>
                            </div>
                            <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                                <input type="radio" name="sort" id="low-high">
                                <label class="text-slate-700 text-[15px] cursor-pointer" for="low-high">Price: Low to high</label>
                            </div>
                            <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                                <input type="radio" name="sort" id="high-low">
                                <label class="text-slate-700 text-[15px] cursor-pointer" for="high-low">Price: High to Low</label>
                            </div>
                            <div class="radio-input hover:bg-slate-200 p-[0.5rem] md:p-[1rem] cursor-pointer">
                                <input type="radio" name="sort" id="rating">
                                <label class="text-slate-700 text-[15px] cursor-pointer" for="rating">Product Rating</label>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[0.5rem] ">
                <div class="my-[1rem] w-[100%] shadow bg-white">
                    <div class="product-grid gap-[0.5rem] items-center p-[0.5rem]">
                        {% for product in products %}
                            <div class="hover:shadow bg-white rounded cursor-pointer ">
                                <div class="relative">
                                    <p class="absolute top-[5px] left-[5px] p-[0.2rem] text-[10px] bg-red-600 text-[#ffffff]">Pay On Delivery</p>
                                    <div class="w-[150px]  m-auto  rounded-t ">
                                        {% if product.image %}
                                            <img src="{{product.image.url}}" alt="" class="w-[100%] h-[220px] object-center object-contain">
                                        {% endif %}
                                    </div>
                                    <div class="absolute bottom-0 right-[3px]">
                                        <i class="fa fa-regular fa-heart text-slate-500 text-center hover:bg-rose-100 p-[0.3rem] rounded-full"></i>
                                    </div>
                                </div>
                                <div class="content p-[0.5rem]">
                                    <p class="text-[13px] text-slate-600 text-truncate m-0 p-0">{{product.description|truncatewords:"5"}}</p>
                                    <p class="font-bold text-[16px] text-gray-600 ">GHS {{product.price|intcomma}}</p>
                                    <span class=" text-[10px] text-slate-600 line-through">GHS {{product.canceled_price|intcomma}}</span>
                                    <div class="flex gap-[0.2rem] items-center">
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-solid fa-star text-[10px] text-orange-500"></i>
                                        <i class="fa fa-regular fa-star text-[10px] text-orange-500"></i>
                                    </div>
                                    <div class="mt-[0.5rem] flex items-center gap-[0.5rem] w-[100%]">
                                            <a href="{% url "product-detail" product_id=product.id %}" class="flex items-center justify-center gap-[0.2rem] no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap w-[100%] py-[0.6rem] rounded-[8px]">
                                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19.09 14.441V18.881C19.0898 19.5092 18.8401 20.1116 18.3959 20.5558C17.9516 21.0001 17.3492 21.2497 16.721 21.25H5.12002C4.80777 21.2499 4.49863 21.188 4.21035 21.0681C3.92208 20.9481 3.66035 20.7723 3.44021 20.5509C3.22007 20.3295 3.04586 20.0667 2.92758 19.7777C2.80931 19.4887 2.74931 19.1792 2.75102 18.867V7.27899C2.74916 6.96724 2.80919 6.65822 2.92764 6.36984C3.04608 6.08146 3.22059 5.81945 3.44103 5.59901C3.66148 5.37856 3.92348 5.20406 4.21186 5.08561C4.50025 4.96717 4.80927 4.90713 5.12102 4.90899H9.56002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M19.09 8.995L15.005 4.909M6.83496 15.803V13.638C6.83696 13.281 6.97896 12.938 7.22996 12.685L16.762 3.153C16.8884 3.0251 17.039 2.92357 17.205 2.85427C17.371 2.78498 17.5491 2.7493 17.729 2.7493C17.9088 2.7493 18.0869 2.78498 18.2529 2.85427C18.4189 2.92357 18.5695 3.0251 18.696 3.153L20.847 5.304C20.9749 5.43048 21.0764 5.58107 21.1457 5.74706C21.215 5.91304 21.2507 6.09113 21.2507 6.271C21.2507 6.45087 21.215 6.62895 21.1457 6.79494C21.0764 6.96093 20.9749 7.11152 20.847 7.238L11.315 16.77C11.0615 17.0217 10.7192 17.1636 10.362 17.165H8.19696C8.01803 17.1653 7.8408 17.1302 7.67544 17.0619C7.51007 16.9935 7.35982 16.8932 7.2333 16.7667C7.10677 16.6401 7.00646 16.4899 6.9381 16.3245C6.86975 16.1592 6.8347 15.9819 6.83496 15.803Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg> 
                                                Detail
                                            </a>
                                        <form action="{% url 'add_to_cart' product.id %}" method="POST" class="add-to-cart-form inline w-[100%]">
                                            {% csrf_token %}
                                            <button class="flex items-center justify-center gap-[0.2rem] no-underline bg-slate-700 text-[12px] text-slate-50 text-nowrap w-[100%] py-[0.6rem] rounded-[8px]">
                                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 1H4.764L7.764 12H18.279L21.368 2.735L23.265 3.368L19.72 14H7.78L7.28 16H22V18H4.72L5.966 13.011L3.236 3H0V1ZM14 2V5H17V7H14V10H12V7H9V5H12V2H14ZM4 21C4 20.4696 4.21071 19.9609 4.58579 19.5858C4.96086 19.2107 5.46957 19 6 19C6.53043 19 7.03914 19.2107 7.41421 19.5858C7.78929 19.9609 8 20.4696 8 21C8 21.5304 7.78929 22.0391 7.41421 22.4142C7.03914 22.7893 6.53043 23 6 23C5.46957 23 4.96086 22.7893 4.58579 22.4142C4.21071 22.0391 4 21.5304 4 21ZM18 21C18 20.4696 18.2107 19.9609 18.5858 19.5858C18.9609 19.2107 19.4696 19 20 19C20.5304 19 21.0391 19.2107 21.4142 19.5858C21.7893 19.9609 22 20.4696 22 21C22 21.5304 21.7893 22.0391 21.4142 22.4142C21.0391 22.7893 20.5304 23 20 23C19.4696 23 18.9609 22.7893 18.5858 22.4142C18.2107 22.0391 18 21.5304 18 21Z" fill="currentColor"/>
                                                </svg>
                                                Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex justify-center py-[4rem] product-pagina-mobile">
            <nav class="flex justify-center" aria-label="Pagination">
                <ul class="flex items-center gap-1 md:gap-2">
                    <!-- Previous Button -->
                    {% if products.has_previous %}
                        <li>
                            <a href="?page={{ products.previous_page_number }}" 
                                class="flex items-center px-3 py-1 md:px-3 md:py-1 border border-orange-600 border-opacity-25 text-gray-500 hover:bg-gray-100 rounded-full transition-all duration-300"
                                aria-label="Previous">
                                <span class="text-[15px]"><i class="fa fa-solid fa-chevron-left text-[14px] text-slate-500"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <span class="flex items-center px-3 py-1 md:px-3 md:py-1 border border-orange-600 border-opacity-20 text-gray-500 rounded-full transition-all duration-300 disabled:opacity-50 disabled:pointer-events-none"
                                    aria-label="Previous">
                                    <span class="text-[15px]"><i class="fa fa-solid fa-chevron-left text-[14px] text-slate-200"></i></span>
                            </span>
                        </li>
                    {% endif %}
    
                    <!-- Page Numbers -->
                    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                            <li>
                                <span class="px-3 py-2 md:px-4 md:py-2 bg-slate-700 border border-slate-200 text-slate-50 rounded-full transition-all duration-300">{{ num }}</span>
                            </li>
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <li>
                                <a href="?page={{ num }}"
                                    class="px-3 py-2 md:px-4 md:py-2 text-gray-600 hover:bg-gray-100 border border-slate-200 rounded-full transition-all duration-300">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
    
                    <!-- Next Button -->
                    {% if products.has_next %}
                        <li>
                            <a href="?page={{ products.next_page_number }}"
                                class="flex items-center px-3 py-1 md:px-3 md:py-1 border border-orange-600 border-opacity-20 text-gray-600 hover:bg-gray-100 rounded-full transition-all duration-300"
                                aria-label="Next">
                                <span class="text-[15px]"><i class="fa fa-solid fa-chevron-right text-[14px] text-slate-500"></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <span class="flex items-center px-3 py-1 md:px-3 md:py-1 text-gray-500 rounded-full border border-slate-200 transition-all duration-300 disabled:opacity-50 disabled:pointer-events-none"
                                    aria-label="Next">
                                    <span class="text-[15px]"><i class="fa fa-solid fa-chevron-right text-[14px] text-slate-200"></i></span>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <!-- Add Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const sortBtn = document.getElementById('sortBtn');
    const sortItem = document.getElementById('sortItem');
    sortBtn.addEventListener('click', () => {
        //console.log('sorted clicked')
        sortItem.classList.toggle('sorted-active')
    })

    const swiper = new Swiper('.mySwiper', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: false,
        grabCursor: true,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            640: {
                spaceBetween: 8,
            },
            1024: {
                spaceBetween: 8,
            },
        },
    });
 // Close message
 document.addEventListener('click', function(event) {
    if (event.target.classList.contains('close-message')) {
        event.target.parentElement.remove();
        // Clear messages from session storage
        sessionStorage.removeItem('messages');
    }
});
    
</script>
    
{% include "core/partials/footer.html" %}
{% endblock content %}
