{% extends "core/base.html" %}
{% load static %}
{% load humanize %} 
{% block title %}checkout{% endblock  %}
{% block content %}
{% include "core/partials/nav.html" %}
<div class="w-[100%] md:w-[80%] lg:w-[60%] m-auto flex items-center gap-[3px] ">
    <div class="w-[100%] flex gap-[0.5rem] flex-col md:flex-row">
       <div class="basis-[70%]">
            <div class="flex gap-[0.5rem] w-[100%] flex-col">
                <div class="shadow bg-white">
                    <div class="flex justify-between items-center p-[0.5rem] border-b border-slate-200">
                        <div class="flex gap-[0.5rem] items-center">
                            <i class="fa-solid fa-circle-check text-green-400 text-[14px]"></i>
                            <p class="text-[18px] text-slate-700 font-semibold uppercase">1. Customer Address</p>
                        </div>
                        <div class="flex gap-[0.5rem]">
                            <a href="#!" class="text-blue-700 text-[16px]">
                                change
                                <i class="fa-solid fa-chevron-right text-[14px]"></i>
                            </a>
                        </div>
                    </div>
                    <div class="p-[0.8rem] ">
                        <p class="text-[15px]">{{ profile.full_name }}</p>
                    </div>
                </div>
                <div class="shadow bg-white">
                    <div class="p-[0.5rem] border-b border-slate-200 flex gap-[0.5rem] items-center">
                        <i class="fa-solid fa-circle-check text-green-400 text-[14px]"></i>
                        <p class="text-[18px] text-slate-700 font-semibold uppercase">2. Payment method</p>
                    </div>
                    <div class="p-[1rem]">
                        <p class="text-[16px] text-slate-600">Payment delivery</p>
                    </div>
                    <div class="p-[1rem]  border-b border-slate-200">
                       <p class="font-semibold text-slate-600 text-[14px]"> Mobile Money on Delivery/Pickup</p>
                       <p class="font-regular text-slate-500 text-[12px]"> Pay Mobile Money on Delivery/Pickup</p>
                    </div>
                    <div class="p-[1rem]  border-b border-slate-200">
                       <p class="font-semibold text-slate-600 text-[14px]"> Cash on delivery</p>
                       <p class="font-regular text-slate-500 text-[12px]"> Pay Cash on Delivery</p>
                    </div>
                </div>
            </div>
       </div>
       <div class="shadow rounded bg-white basis-[30%] p-[0.5rem] h-[100%]">
            <div class="border-b border-slate-200 p-[0.3rem]">
                <p class="uppercase text-[10px] text-regular text-slate-700">cart summary</p>
            </div>
            <div class="flex justify-between items-center border-b border-slate-200 p-[0.3rem]">
                <p class="text-[10px] text-slate-700">Item's total ({{ cart.order_products.count }})</p>
                <p class="text-[15px] text-slate-700"> GHS {{ cart.total_price|default:"0.00"|intcomma }}</p>
            </div>
            <div class="flex justify-between items-center border-b border-slate-200 p-[0.3rem]">
                <p class="text-[10px] text-slate-700">Total</p>
                <p class="text-[22px] text-slate-700"> GHS {% if cart %}{{ cart.total_price|intcomma }}{% else %}0.00{% endif %}</p>
            </div>
            {% if cart %}
            <div class="bg-orange-400 w-[100%] p-[0.5rem] text-[#fefefe] text-center rounded flex justify-center items-center gap-[0.5rem]">
                <form action="{% url 'checkout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-[18px] text-[#fefefe]" id="cart-total-price">
                        Confirm order
                    </button>
                </form>
            </div>
            {% else %}
            <button type="submit" class="bg-slate-200 w-[100%] p-[0.5rem] text-center rounded  text-[18px] text-[#fefefe]" id="cart-total-price">
                Confirm order
            </button>
            {% endif %}
       </div>
    </div>
</div>

    <script>
       
        document.getElementById('cart-total-price').innerText = 
            `GHS ${data.total_price.toLocaleString()}`;

        document.getElementById('checkout-total').innerText = 
            `Checkout (GHS ${data.total_price.toLocaleString()})`;
    </script>

{% endblock %}

